:root {
    font-size: 16px0;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secundary: #ececec;
    --bg-primary: #23232e;
    --bg-secundary: #141418;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 500;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item {
    padding: 0;
    list-style: none;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secundary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    left: 10;
    background-color: solid black;
    text-decoration: none;
}

.navbar:hover .link-text {
    display: block;
    background-color: solid white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link svg {
    color: #7ed0ff;
  }

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secundary);
    background: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
    margin-right: 5rem;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
    transition: 1000ms;
  }

.body {
  margin: 0;
}

.container {
  width: 100rem;
  height: 100rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 100px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 10px;
  border-color: #000000;
  border-style: double;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.container-large {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
    
.transition-fade {
    opacity: 1;
    transition: 1500ms;
    transform: translateX(0);
    transform-origin: center;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.prjnav-bar {
  width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}


.prjnav-item {
  margin-left: 25rem;
  text-decoration: none;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.prjnav-link {
  display: flex;
  align-items: center;
  height: 3vh;
  color: black;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  justify-content: left;
  margin-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secundary);
}

.prjContainer {
  width: 100rem;
  height: 50rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 5rem;
  padding: 1;
  box-sizing: border-box;
  align-items: center;
}

.prjContainer li {
  padding: 10px;
  border-color: #96a3aa;
  border-style: solid;
  background-color: white;
}

.prjContainer p {
  margin-left: 2rem;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }

  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }